<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cw.kuleuven.be.peno1011.cwb2"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme">
    	<uses-library android:name="com.google.android.maps" />
		<activity android:label="Mobile Toledo" android:name=".view.MobileToledo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:label="MainMenu" android:name=".view.MainMenu">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".view.NavigationMenu" android:label="NavigationMenu">
				<intent-filter>
				<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.InteractionMenu" android:label="InteractionMenu">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.MakeAnnouncement" android:label="MakeAnnouncement">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.ShowAnnouncements" android:label="ShowAnnouncements" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.CourseAnnouncements" android:label="CourseAnnouncements" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.GoogleMaps" android:label="GoogleMaps"  android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.NewUser" android:label="NewUser">
			<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
				<activity android:name=".view.SelectCourse" android:label="selectcourse">
			<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".view.Questions" android:label="question">
			<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".view.ShowQuestions" android:label="ShowQuestions">
			<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".view.MultipleChoice" android:label="MultipleChoice">
			<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".view.ShowRoute" android:label="ShowRoute" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".view.LocationInfo" android:label="infoon">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.GetInfo" android:label="getinfo">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:label="RouteMenu" android:name=".view.RouteMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".view.CoursePages" android:label="CoursePages">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.CourseInfo" android:label="CourseInfo" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.CourseDocuments" android:label="CourseDocuments" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.Agenda" android:label="Agenda" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.EventsList" android:label="EventsList" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.AnnouncementsView" android:label="AnnouncementsView">
				<intent-filter>
				<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
<activity android:name=".view.ShowQuestions"></activity>
</application>


</manifest> 