<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cw.kuleuven.be.peno1011.cwb2"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk minSdkVersion="3" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
		<activity android:label="Mobile Toledo" android:name=".view.MobileToledo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:label="MainMenu" android:name=".view.MainMenu">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		
	    <uses-library android:name="com.google.android.maps" 
	    			  android:required="true"
	    			  android:apiKey=""></uses-library>
		<activity android:name=".view.NavigationMenu" android:label="NavigationMenu">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		
		<activity android:name=".view.InteractionMenu" android:label="InteractionMenu">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.MakeAnnouncement" android:label="MakeAnnouncement">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
		<activity android:name=".view.ShowAnnouncements" android:label="ShowAnnouncements">
				<intent-filter>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
		</activity>
	</application>


</manifest> 